html {
  height: 100%;
  width: 100%;
}

nav ul {
  list-style-type: none;
  background-color: yellow;
  padding-left: 0px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: arial;
  color: #303030;
}

  nav ul li a:hover {
    background-color: #585917;
    color: white;
